<!--
Hello! Welcome to the MCH 2022 website. If you read this you're doing it right! Unfortunately no discount codes here,
or there might be in the future. No promises.

-- Stitch
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- A whole bunch of favicon standards -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="<%= BASE_URL %>/favicon.svg">
    <link rel="manifest" href="<%= BASE_URL %>/site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#491d88">

    <!-- Open Graph Metatags for defacebook, life invader and such... -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= BASE_URL %>images/metatags/MCH2021_preview.png" />
    <meta property="og:title" content="MCH2022 - May Contain Hackers 2022" />
    <meta property="og:description" content="The 8th Dutch Quadrennial Hacker Camp" />
    <meta property="og:url" content="https://mch2022.org/" />

    <!-- Twitter meta tags for people with an attention span of 140.. 280 cha... threads with 280 characters each, basically entire books filled with snappy comebacks and well thought out, convincing falsehoods. -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="mch2022.org">
    <meta property="twitter:url" content="https://mch2022.org">
    <meta name="twitter:title" content="MCH2022 - May Contain Hackers 2022">
    <meta name="twitter:description" content="The 8th Dutch Quadrennial Hacker Camp">
    <meta name="twitter:image" content="<%= BASE_URL %>images/metatags/MCH2021_preview.png">

    <title>May Contain Hackers 2022</title>
    <meta name="description" content="The 8th Dutch Quadrennial Hacker Camp">
</head>
<body>
<noscript>
    <style>

          @font-face {
            font-family: 'sairaregular';
            src: url('/fonts/Saira-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
          }

          body {
              font-family: 'sairaregular', sans-serif !important;
          }
    </style>
    <link rel="stylesheet" href="./noscript/bootstrap%204.0/css/bootstrap.min.css">


    <main role="main" class="container">

        <h1>Welcome to the static website of May Contain Hackers 2022.</h1>
        <p>This page is intended to provide basic information and resources for browsers that have javascript turned off.</p>

    <div class="row">
      <div class="col">
        <div class="content">
            <h2>About MCH 2022</h2>
          <p class="lead-paragraph">
            MCH2022 is a nonprofit outdoors hacker camp taking place in Zeewolde, the Netherlands.
          </p>
          <p>
            The event is organized for and by volunteers from and around all facets of the worldwide
            hacker community.
          </p>
          <p>
            Knowledge sharing, technological advancement, experimentation, connecting with your hacker peers
            and of course hacking are some of the core values of this event.
          </p>
          <p>
            MCH2022 is the successor of a string of similar events happening every four years since 1989.
            These are
            <a href="https://en.wikipedia.org/wiki/Galactic_Hacker_Party" target="_blank"
               rel="noopener noreferrer">GHP</a>,
            <a href="https://nl.wikipedia.org/wiki/Hacking_at_the_End_of_the_Universe" target="_blank"
               rel="noopener noreferrer">HEU</a>,
            <a href="https://nl.wikipedia.org/wiki/Hacking_in_Progress" target="_blank"
               rel="noopener noreferrer">HIP</a>,
            <a href="https://en.wikipedia.org/wiki/Hackers_at_Large" target="_blank"
               rel="noopener noreferrer">HAL</a>,
            <a href="https://en.wikipedia.org/wiki/What_the_Hack" target="_blank" rel="noopener noreferrer">WTH</a>,
            <a href="https://en.wikipedia.org/wiki/Hacking_at_Random" target="_blank"
               rel="noopener noreferrer">HAR</a>,
            <a href="https://en.wikipedia.org/wiki/Observe._Hack._Make." target="_blank"
               rel="noopener noreferrer">OHM</a> and
            <a href="https://en.wikipedia.org/wiki/Still_Hacking_Anyway" target="_blank"
               rel="noopener noreferrer">SHA</a>.
            <br><br>
            Similar events are
            <a href="https://www.emfcamp.org/" target="_blank" rel="noopener noreferrer">EMF</a> 2022 in the UK,
            <a href="https://www.bornhack.dk/" target="_blank" rel="noopener noreferrer">Bornhack</a> 2021 in Denmark,
            <a href="https://fri3d.be" target="_blank" rel="noopener noreferrer">Fri3d Camp</a> in Belgium,
            <a href="https://www.ihc.camp/2020/" target="_blank" rel="noopener noreferrer">IHC</a> in Italy and
            <a href="https://en.wikipedia.org/wiki/Chaos_Communication_Camp" target="_blank"
               rel="noopener noreferrer">CCC Camp</a> 2023
            in Germany.<br>
            <br>
            The location is the <a href="https://osm.org/go/0E65_AaQ?layers=HN&amp;m=" target="_blank"
                                   rel="noopener noreferrer">Scoutinglandgoed Zeewolde</a>, 55km east of
            Amsterdam.
          </p>
          <p>
            <a class="btn btn-success btn-lg" href="https://wiki.mch2022.org" target="_blank" rel="nofollow" style="background-color: #491d88ff">View more info on the wiki <b-icon icon="arrow-up-right" shift-v="14" shift-h="-2" font-scale="0.9"></b-icon> </a>
          </p>

            <h2>Further reading</h2>
        <p>These links go to various systems of MCH2022.</p>

        <ul>
            <li>RSS Newsfeed: <a href="https://mch2022.org/feed.rss" target="_blank" rel="nofollow">https://mch2022.org/feed.rss</a></li>
            <li>Full JSON feed with website content: <a href="https://mch2022.org/wp-json/wp/v2/posts?per_page=100&_embed" target="_blank" rel="nofollow">https://mch2022.org/wp-json/wp/v2/posts?per_page=100&_embed</a></li>

            <li>Ticketshop: <a href="https://tickets.mch2021.org" target="_blank" rel="nofollow">https://tickets.mch2021.org</a></li>
            <li>Wiki: <a href="https://wiki.mch2022.org" target="_blank" rel="nofollow">https://wiki.mch2022.org</a></li>
            <li>Call for Participation: <a href="https://conference.mch2021.org/mch2021-2020/cfp" target="_blank" rel="nofollow">https://conference.mch2021.org/mch2021-2020/cfp</a></li>
        </ul>

        <p>Thank you for visiting MCH2022.org, hope to see you at the event!</p>

        </div>

      </div>
      <div class="col">
        <div class="content">
            <h2>Calls to action</h2>
          <a class="btn-block btn-success btn-lg" href="https://cfp.mch2021.org" target="_blank" rel="nofollow"
             style="background-color: #491d88ff">Read the Call For Participation
            <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon>
          </a>
          <a class="btn-block btn-success btn-lg" href="https://tickets.mch2021.org/" target="_blank" rel="nofollow"
             style="background-color: #491d88ff">Buy Tickets
            <b-icon icon="arrow-up-right" shift-v="8" shift-h="-2" font-scale="0.9"></b-icon>
          </a>
        </div>
        <div class="content" style="margin-top: 20px;">
            <h2>Gallery</h2>
          <div class="row">
            <div class="col">
              <figure class="figure">
                <img style="width: 600px;"
                       src="/images/gallery/thumbnails/SHA2017_TERRAIN_CC_BY_SEBASTIAN_HUMBEK.jpeg"
                       alt="Aerial picture of the MCH2022 terrain, taken during our previous camp SHA2017. The previous camp was visited by ±3500 hackers. (by Sebastian Humbek)"></img>
                <figcaption class="figure-caption">Aerial picture of the MCH2022 terrain, taken during our previous camp
                  SHA2017. The previous camp was visited by ±3500 hackers.
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <figure class="figure">
                <img style="width: 280px"
                       src="/images/gallery/thumbnails/SHA2017_STAGE_CC_BY_POLYFLOYD.jpeg"
                       alt="Well over 300 talks and workshops. (by Polyfloyd)">
                <figcaption class="figure-caption">Well over 300 talks and workshops.</figcaption>
              </figure>
            </div>
            <div class="col">
              <figure class="figure">
                <img style="width: 280px;"
                       src="/images/gallery/thumbnails/SHA2017_MAIN_ROAD_CC_BY_POLYFLOYD.jpeg"
                       alt="The main road viewed from the dike. (by Polyfloyd)">
                <figcaption class="figure-caption">The main road viewed from the dike.</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <figure class="figure">
                <img style="width: 280px;"
                       src="/images/gallery/thumbnails/SHA2017_POFFERTJES_CC_BY_SEBASTIAN_HUMBEK.jpeg"
                       alt="At night the camp comes alive with vibrant colors. (by Sebastian Humbek)">
                <figcaption class="figure-caption">At night the camp shows its vibrant colors.</figcaption>
              </figure>
            </div>
            <div class="col">
              <figure class="figure">
                <img style="width: 280px;"
                       src="/images/gallery/thumbnails/SHA2017_ENTRANCE_GATE_BY_NIGHT_CC_BY_POLYFLOYD.jpeg"
                       alt="Entrance gate to the event terrain. (by Polyfloyd)">
                <figcaption class="figure-caption">Entrance gate to the event terrain.</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <figure class="figure">
                <img style="width: 280px;"
                       src="/images/gallery/thumbnails/SHA2017_CAMPING_FIELDS_CC_BY_SEBASTIAN_HUMBEK.jpeg"
                       alt="Tents are assembled in villages. (by Sebastian Humbek)">
                <figcaption class="figure-caption">Tents are assembled in villages.</figcaption>
              </figure>
            </div>
            <div class="col">
              <figure class="figure">
                <img style="width: 280px;"
                       src="/images/gallery/thumbnails/SHA2017_FLAMETHROWER_CC_BY_SEBASTIAN_HUMBEK.jpeg"
                       alt="Flamethrowers included, because batteries don't cut it. (by Sebastian Humbek)">
                <figcaption class="figure-caption">Flamethrowers included.</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>


    </main>


</noscript>
<div id="app"></div>
</body>
</html>
