<template type="x-template" id="bottom_menu_template">
  <div class="bottom-content-container">

    <b-row cols="1" cols-sm="2" cols-lg="4">
      <b-col>
        <div class="content blobje">
          <h4>About</h4>
          <ul>
            <li><a href="https://cfp.mch2021.org/" style="">Call For Participation</a></li>
            <li><a href="https://wiki.mch2022.org/Planning">Dates and times</a></li>
            <li><a href="https://wiki.mch2022.org/Route">Location & Route</a></li>
            <li><a href="https://wiki.mch2022.org/Code_of_Conduct">Code of Conduct</a></li>
          </ul>
        </div>
      </b-col>
      <b-col>
        <div class="content blobje">
          <h4>Visitors</h4>
          <ul>
            <li><a href="https://wiki.mch2022.org/">Wiki</a></li>
            <li><a href="https://wiki.mch2022.org/Villages">Villages</a></li>
            <li><a href="https://wiki.mch2022.org/Guide">Camping Guide</a></li>
            <li><a href="https://tickets.mch2021.org">Ticket Shop</a></li>
          </ul>
        </div>
      </b-col>
      <b-col>
        <div class="content blobje">
          <h4>Volunteering</h4>
          <ul>
            <li><a href="https://wiki.mch2022.org/">How to join</a></li>
            <li><a href="https://wiki.mch2022.org/Teams">Teams</a></li>
            <li><a href="https://wiki.mch2022.org/Vacancies">Vacancies</a></li>
            <li><a href="https://wiki.mch2022.org/Meetings">Meetings</a></li>
          </ul>
        </div>
      </b-col>
      <b-col>
        <div class="content blobje">
          <h4>Contact</h4>
          <ul>
            <li><a href="mailto:info@mch2021.org" style="white-space: nowrap;"><b-icon icon="envelope"></b-icon> info@mch2021.org</a></li>
            <li><a href="https://chaos.social/@mch2021" target="_blank" rel="nofollow" style="white-space: nowrap;"><b-icon icon="chat"></b-icon> @mch2021@chaos.social</a></li>
            <li><a href="https://twitter.com/MCH2021" target="_blank" rel="nofollow"><b-icon icon="chat"></b-icon> @MCH2021</a></li>
            <li><a href="https://irc.oftc.net/" target="_blank" rel="nofollow"><b-icon icon="terminal"></b-icon> #MCH2022 on OFTC</a></li>
          </ul>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
}
</script>
<style scoped>
.bottom-content-container {
    margin-top: 2em;
    font-variant: all-small-caps;
}

.blobje {
    border: 10px solid #eeeeeeaa;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: var(--background-color);
    color: var(--color);
}

.blobje:hover {
    overflow: visible;
}

.bottom-content-container li {
    list-style: none;
    margin-left: -40px;
}

h4, a, a:hover, a:visited, a:link, a:active {
    color: var(--color);
}

</style>
